#title {
  background-color: #ff4c68;
}

#title3 {
  background-color: #fff;
  padding: 5% 15%;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 12% 10%;
}



.fspara {
  text-align: center;
  padding: 5% 10%;
}
.para{
  text-align: left;
  padding: 5% 20%
}
.btn{
  margin: 10px 30px 10px 10px;
  font-family:  'Montserrat', sans-serif;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding: 5% 15%;
  /* line-height: 1.5rem; */
}
.container-fluid{

  padding: 3% 15%;
}

.navbar-brand{
  padding: 0 10%;
  font-family:  'Montserrat', sans-serif;
  /* margin: 10px 10px; */
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-size: 2rem;


}
.collapse{
padding:  0 20%;
margin: 10px 10px;
font-family: 'Baloo Bhai 2', cursive;
font-size: 1.5rem;
}


.fsimg{
  height: 700px;
  padding: 5% 0 0;
  transform: rotate(25deg);
  position: relative;
  z-index: 0;
}

/* section 2 */

.fas{
  color: #ef8172;
  margin: 20px 5px;
}

h3{
  font-family:  'Montserrat', sans-serif;
}

p{
  font-family:   'Baloo Bhai 2', cursive;
  font-size: 1.3rem;
  line-height: 1.5;
}

.ppara{
  text-align:left;
  margin: 5px 10px;
}
.title4{
  background-color:  #ff4c68;

}
.item55{
  background-color: #ef8172;
  padding: 7% 2%;
}

.head1{
  text-align:left;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding: 5% 7%;
}

.imgdog{
  height: 150px;
  width: 150px;
  border-radius:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  .emp{
    padding: 2% 2%;
  text-align: center;
  }
.icon{
  padding: 4% 4%;
}

.heading{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding: 5% 15%;
}

.Download{
  text-align: center;
}

.btnwa{
  text-align: center;
  padding: 3% 3%;
}

.ft{
background-color:#e0ffff;
margin-bottom: 0;

}
.container-fluid{
  padding: 3% 7%;
  text-align: center;

}
.social-icon{
  padding: 3px 7px;
}
.head3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  padding: 5% 15% 0;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .fsimg {
    position: static;
    transform: rotate(0);
  }
}
